**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/*.user
**/*.suo
.git/
.gitignore
README.md
PLAN.md
**/http-client.private.env.json
**/.env
**/.env.*
!.env.example
**/node_modules/
**/Dockerfile*
**/docker-compose*
**/.dockerignore
